/* layout */

.flexbox {
    display: flex;
    flex-direction: column;
}

.flexbox.horizontal {
    flex-direction: row;
    align-items: stretch;
}

.flexbox > .fill {
    flex-grow: 1;
}

.flexbox > * {
    margin: 0 0 2rem 0;
}

.flexbox > :last-child {
    margin-right: 0;
}

.flexbox > .fill {
    margin-bottom: 0;
}

.flexbox.horizontal > * {
    margin: 0 2rem 0 0;
}

.flexbox.horizontal > :last-child {
    margin-right: 0;
}

.flexbox.horizontal > .fill {
    margin-right: 0;
}


/* baseline styles */

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 0.005em;
    color: #555;
    background-color: #fafafa;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 2;
}

button,
input,
output {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: 100;
    line-height: 2;
}

button.big,
input.big {
    line-height: 3;
}

button,
input,
button:focus,
input:focus {
    outline: 0 none;
}

button:focus,
input:focus {
    border: 1px solid #555;
}

output {
    word-wrap: break-word;
    word-break: break-all;
}

button {
    padding: 0 1em;
    border: 1px solid #ef5575;
    color: #fff;
    background: #ef5575 none;
    cursor: pointer;
}

button.big {
    line-height: 3;
    padding: 0 2em;
}

button.icon {
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2;
    padding: 0;
    border-radius: 2px;
}

button.icon > i {
    line-height: 2.2;
}

button.round {
    border-radius: 50%;
}

button > i + span {
    display: block;
    margin-top: -.3rem;
    font-size: 1.1rem;
    color: #555;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

input,
output {
    padding: 0 1em;
}

input {
    border: 1px solid #999;
}

input:focus {
    border-color: #ef5575;
}

/* components */

.help {
    font-size: 1.1rem;
    color: #ef5575;
}

/* helper classes */

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.pull-right {
    justify-content: flex-end;
}


/* bootstrap override */

.tooltip-inner {
    border-radius: 2px;
}

